/*========= General =========*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all .3s ease;
}

html{
	position: relative;
	min-height: 100%;
}

body {
	width: 100%;
	min-height: 100vh;
  	font-family: 'Kanit', sans-serif;
  	font-size: 16px;
  	background: #F3F3F3;
  	color: #052E36;
  	margin-top: 70px;
}

/*========= Login + Error page =========*/

.wallpaper_gen {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	max-height: 100vh;
}

/*========= Login =========*/

.container_login {
	margin-top: 70px !important;
	display: flex !important;
	flex-direction: column !important;
	align-items: center !important;
	justify-content: center !important;
}

.titolo_login {
	font-weight: 600 !important; 
	font-size: 52px !important;
	color: #F3F3F3;
}

.sottotitolo_login {
	text-align: center;
	font-weight: 400 !important; 
	margin-top: 0 !important;
	color: #F3F3F3;
}

.form_login {
	margin-top: 40px;
	padding: 40px 30px !important;
	background: rgba(243, 243, 243, 0.4);
	border: 1px solid #41908F;
	box-shadow: 2px 2px 12px rgba(65, 144, 143, 0.5), -2px -2px 12px rgba(65, 144, 143, 0.5);
	border-radius: 10px;
}

.form_login .header_login {
	width: fit-content;
	height: fit-content;
	background: linear-gradient(135deg, #41908F 0%, #0C6677 100%);
	border-radius: 100%;
	margin: auto !important;
	margin-bottom: 20px !important;
	padding: 20px !important;
}

.form_login i {
	color: #052E36;
}

.form_login .header_login .icon_header_login {
	font-size: 52px;
	color: #F3F3F3;
}

.form-horizontal .form-group {
	margin-right: unset !important;
	margin-left: unset !important;
}

.form_login .form-group #nomeAdmin,
.form_login .form-group #cognomeAdmin,
.form_login .form-group #codAdmin {
	font-weight: 300 !important; 
	font-size: 16px;
	color: #052E36;
}

.form_login .form-group #cod-icon{
	cursor: pointer;
}

.form_login .form-group #ricordami{
	margin: 0 !important;
	width: 18px;
	height: 18px; 
}

.form_login .row .btn_login{
	color: #F3F3F3;
	border: 0 !important;
	font-size: 16px;
	padding: 10px 40px !important;
	background: linear-gradient(93.3deg, #41908F 0%, #0C6677 100%) !important;
}
.form_login .row .btn_login:hover {
	box-shadow: inset 0px 100px 4px rgba(0, 0, 0, 0.25); 
}

.form_login .tentativi_login {
	margin-top: 25px;
    text-align: center;
    font-size: 18px;
	color: #B70000;
	font-weight: 400 !important; 
}

.footer_login {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	color: #F3F3F3;
}

/*========= Accesso negato =========*/

.container_accessonegato{
	margin-top: 50px; 
	color: #F3F3F3;
}

.container_accessonegato .panel {
	background: rgba(243, 243, 243, 0.4) !important;
	border: 1px solid #41908F !important;
	box-shadow: 2px 2px 12px rgba(65, 144, 143, 0.5), -2px -2px 12px rgba(65, 144, 143, 0.5) !important;
}

.container_accessonegato .panel-body{
	padding: 30px !important;
}

/*========= navbar =========*/

.navbar{
	padding: 0 !important;
	background: linear-gradient(90.08deg, #052E36 0%, #0C6677 57.14%);
}

.navbar .navbar-brand,
.navbar .navbar-text {
	color: #F3F3F3 !important;
}

.navbar .logout_nav {
	background-color: #052E36 !important;
	color: #F3F3F3 !important;
	cursor: pointer;
}

.navbar .logout_nav:hover{
	box-shadow: inset 0px 100px 4px rgba(0, 0, 0, 0.25); 
}
