/*========= General =========*/

html{
	position: relative;
	min-height: 100%;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
  	justify-content: space-between;
  	font-family: 'Kanit', sans-serif;
  	background: #F3F3F3;
  	color: #052E36;
}

/*========= Login + Error page =========*/

.wallpaper_gen {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	max-height: 100vh;
}

/*========= Login =========*/

.container {
	margin-top: 70px !important;
}

.container_login {
	height: 100vh;
	display: flex !important;
	flex-direction: column !important;
	align-items: center !important;
	justify-content: space-between !important;
}

.container_login .body_login {
	display: flex; 
	align-items: center; 
	flex-direction: column;
}

.titolo_login {
	margin-top: 30px;
	text-align: center;
	font-weight: 600 !important; 
	font-size: 52px !important;
	color: #F3F3F3;
	padding: 0 40px !important;
}

.sottotitolo_login {
	text-align: center;
	font-weight: 400 !important; 
	font-size: 32px !important;
	margin-top: 0 !important;
	color: #F3F3F3;
	padding: 0 20px 40px 20px !important;
}

.form_login {
	width: fit-content;
	padding: 40px 30px !important;
	background: rgba(243, 243, 243, 0.4);
	border-radius: 10px;
}

.form_login .header_login {
	width: fit-content;
	height: fit-content;
	background: linear-gradient(135deg, #41908F 0%, #0C6677 100%);
	border-radius: 100%;
	margin: auto !important;
	margin-bottom: 20px !important;
	padding: 20px !important;
}

.form_login i {
	color: #052E36;
}

.form_login .header_login .icon_header_login {
	font-size: 52px;
	color: #F3F3F3;
}

.form-horizontal .form-group {
	margin-right: unset !important;
	margin-left: unset !important;
}

.form_login .form-group #nomeAdmin,
.form_login .form-group #cognomeAdmin,
.form_login .form-group #codAdmin {
	font-weight: 300 !important; 
	font-size: 16px;
	color: #052E36;
}

.form_login .form-group #cod-icon{
	cursor: pointer;
}

.form_login .form-group #ricordami{
	margin: 0 !important;
	width: 18px;
	height: 18px; 
}

.form_login .row .btn_login{
	color: #F3F3F3;
	border: 0 !important;
	font-size: 16px;
	padding: 10px 40px !important;
	background: linear-gradient(93.3deg, #41908F 0%, #0C6677 100%) !important;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}
.form_login .row .btn_login:hover {
	transform: scale(1.1);
	filter: grayscale(30%); 
}

.form_login .tentativi_login {
	margin-top: 25px;
    text-align: center;
    font-size: 18px;
	color: #B70000;
	font-weight: 400 !important; 
}

.footer_login {	
	width: 100%;
	text-align: center;
	color: #F3F3F3;
}

@media (max-width: 560px){
	
	.titolo_login {
		font-size: 42px !important;
		padding: 0 20px !important;
	}
	
	.sottotitolo_login {
		font-size: 22px !important;
		padding: 0 5px 20px 5px !important;
	}
	
	.form_login {
		padding: 30px 20px !important;
	}
	
	.form_login .header_login {
		padding: 15px !important;
	}

	.form_login .header_login .icon_header_login {
		font-size: 42px;
	}
	
	.form_login .tentativi_login {
		margin-top: 20px;
	}
	
	.footer_login {
		font-size: 14px;
	}
	
}

/*========= Accesso negato =========*/

.container_accessonegato{
	height: 100vh;
	display: flex !important;
	flex-direction: column !important;
	align-items: center !important;
	justify-content: space-between !important;
	padding: 0 20px;
}

.container_accessonegato .page-header{
	margin-top: 70px !important;
	color: #F3F3F3;
}

.container_accessonegato .panel {
	background: rgba(243, 243, 243, 0.4) !important;
	border: none;
}

.container_accessonegato .panel-heading{
	background: rgba(223, 89, 89, 0.8) !important;
	color: #790707 !important;
}

.container_accessonegato .panel-body{
	padding: 30px !important;
}

/*========= Report =========*/
/* .report-header-lt {
	border-bottom: 1px solid #052E36;
}

.table-lt tbody tr td {
	font-weight: 300;
	vertical-align: middle;
}

.table-lt th {
	align-items: center;
	vertical-align: unset;
}

.table-lt .checkbox {
	text-align: center;
}

.table-lt i {
	text-align: center;
} */

/*========= Statistiche =========*/
.statistiche-lt {
	display: flex !important;
	flex-direction: column !important;
}

.search-fields-lt {
	display: flex;
	align-items: center;
	text-align: left;
	margin: 3vh 0 3vh 0;
}

/*========= navbar =========*/

.navbar{
	padding: 0px 15px;
	background: linear-gradient(90.08deg, #052E36 0%, #0C6677 57.14%);
}

.navbar button span{
	background-color: #F3F3F3 !important;
}

.navbar .navbar-brand {
	color: #F3F3F3 !important;
	border-right: 1px solid #F3F3F3;
}

.navbar-default .navbar-toggle:focus span,
.navbar-default .navbar-toggle:hover span{
	background-color: #052E36 !important;
}
.navbar .nav_left a{
	color: #F3F3F3 !important;
}
.navbar .nav_left{
	transition: .3s ease;
}
.navbar .nav_left:hover{
	background-color: #052E36;
}

.navbar .benvenuto_nav{
	color: #C6C6C6 !important;
	cursor: default !important; 
	margin-right: 20px !important;
}

.navbar .logout_nav {
	background-color: #052E36 !important;
	color: #F3F3F3 !important;
}

.navbar .logout_nav:hover{
	background-color: #F3F3F3 !important;
	color: #052E36 !important;
}

/*========= Footer =========*/

.scroll-to-top{
	background: linear-gradient(92.49deg, #0C6677 0%, #052E36 100%);;
  	position:fixed;
  	bottom:-100px;
  	right:40px;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	cursor: pointer;
  	visibility: hidden;
  	opacity: 0;
  	z-index: 100;
  	padding: 15px;
  	border-radius: 100%;
  	transition: .3s ease;
}
.scroll-to-top:hover{
  	transform: translateY(-10px);
}
.scroll-to-top i{
  	position: relative;
  	margin:auto;
  	font-size: 32px;
  	color: #F3F3F3;
  	outline: none;
}
.scroll-to-top.active{
  	bottom: 50px;
  	visibility: visible;
  	opacity: 1;
}

footer {
	margin-top: 50px;
	width: 100%;
	background: linear-gradient(92.49deg, #0C6677 0%, #052E36 100%);
	color: white;
	padding: 10px 30px 10px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

p.copyright {	
	text-align: center;
	margin: 0;
	padding: 0;
}

